<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>직원목록</title>
</head>
<body>
    <h3>직원목록</h3>
    <table border="1">
        <tr>
            <td>아이디</td>
            <td>이름</td>
            <td>휴대폰</td>
            <td>나이</td>
            <td>기타</td>
        </tr>
        <tr>
            <td>klanle</td>
            <td>홍길동</td>
            <td>010-1234-1234</td>
            <td>17</td>
            <td><a href="#">삭제</a></td>
        </tr>
    </table>
    <a href="/register">직원등록</a>
</body>
</html>